@model EFDbFoirstApproachExample.Models.Product
    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edit Product</h2>   
    <form action="/products/edit/@Model.ProductID" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ProductName">Product Name</label>
                <input type="hidden" name="ProductID" value="@Model.ProductID" />
                <input type="text" class="form-control" name="ProductName" id="ProductName" placeholder="Product Name" value="@Model.ProductName" />
            </div>
            <div class="form-group col-md-6">
                <label for="Price">Price</label>
                <input type="text" class="form-control" name="Price" id="Price" placeholder="Price" value="@Model.Price" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="DateofPurchase">Date of Purchase</label>
                <input type="date" class="form-control" name="DateofPurchase" id="DateofPurchase" placeholder="Date of Purchase" value="@Model.DateOfPurchase.Value.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group col-md-6">
                <label for="AvailabilityStatus">Availability Status</label>
                <select class="form-control" name="AvailabilityStatus" id="AvailabilityStatus">
                    <option value="">Please select</option>
                    <option value="InStock" selected="selected">In Stock</option>
                    <option value="OutOfStock">Out Of Stock</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="CategoryID">Category ID</label>
                <select class="form-control" name="CategoryID" id="CategoryID">
                    <option value="">Please select</option>
                    @foreach (var cat in ViewBag.Categories)
                    {
                        if (cat.CategoryID == Model.CategoryID)
                        {
                            <option value="@cat.CategoryID" selected="selected">@cat.CategoryName</option>
                        }
                        else
                        {
                            <option value="@cat.CategoryID">@cat.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="BrandID">Brand ID</label>
                <select class="form-control" name="BrandID" id="BrandID">
                    <option value="">Please select</option>
                    @foreach (var cat in ViewBag.Brands)
                    {
                        if (cat.BrandID == Model.BrandID)
                        {
                            <option value="@cat.BrandID" selected="selected">@cat.BrandName</option>
                        }
                        else
                        {
                            <option value="@cat.BrandID">@cat.BrandName</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Image">Image</label>
            <img src="data:image;base64,@Model.Photo" height="70px" width="80px" />
            <input type="file" class="form-control-file" id="Image" name="Photo"  value="@Model.Photo"/>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" name="Active" type="checkbox" id="Active" checked="@Model.Active" value="true" />
                <label class="form-check-label" for="Active">
                    Active
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/products/index">Cancel</a>
    </form>



