
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/contacts">Contacts</a>
            </li>
        </ul>
    </nav>
    @{ 
        string StudentResult;
        if(ViewBag.Marks >= 70)
        {
            StudentResult = "Pass";
        }
        else
        {
            StudentResult = "Fail";
        }
    }
    <div class="container-fluid">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>StudentId</td>
                    <td>@ViewBag.StudentId</td>
                </tr>
                <tr>
                    <td>Student Name</td>
                    <td>@ViewBag.StudentName</td>
                </tr>
                <tr>
                    <td>Marks</td>
                    <td>@ViewBag.Marks</td>
                </tr>
                <tr>
                    <td>Student Result</td>
                    <td>@StudentResult</td>
                </tr>
                <tr>
                    <td colspan="2">
                        @if (StudentResult == "Pass")
                        {
                            <span class="text-success">Congratulations!</span>
                            @ViewBag.StudentName
                            <span class="text-success">,you did amazingly well</span>
                        }
                        else
                        {
                            <span class="text-danger">Better luck next time!</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            @foreach (var item in ViewBag.Subjects)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var item in ViewBag.SubjectGrades)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</body>
</html>
